@import "tailwindcss";

@theme {
  --color-background-light: #f9fafb;
  --color-background-dark: #111827;
  --color-text-light: #111827;
  --color-text-dark: #f3f4f6;
}

@variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  transition: background-color 0.2s, color 0.2s;
}

:root.dark body,
html.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}