@import "tailwindcss";

@theme {
  --color-background-light: #f9fafb;
  --color-background-dark: #111827;
  --color-text-light: #111827;
  --color-text-dark: #f3f4f6;
}

@variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  transition: background-color 0.2s, color 0.2s;
}

:root.dark body,
html.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

.bg-galaxy {
  background: radial-gradient(circle at 50% 50%, #4c1d95 0%, #1e1b4b 100%);
}

.bg-neon {
  background: linear-gradient(135deg, #06b6d4 0%, #d946ef 100%);
}
